name: Lint

# CINTENT >> MANUAL TRIGGER
# on:
#   push:
#     branches:
#       - dev
#     paths-ignore:
#       - '**.md'
#       - '**.yml'
#       - 'docs/**'
#   pull_request:
#     branches:
#       - dev
#     paths-ignore:
#       - '**.md'
#       - '**.yml'
#       - 'docs/**'
on: [repository_dispatch, workflow_dispatch]


jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    # CINTENT >> INSERT_CINTENT
    - uses: JavidDitty/setup-cintent@64faaac1333aabc2e0a00af6109b48ec4d8071bf

    - name: Ruff
      uses: astral-sh/ruff-action@v3
      with:
        src: "./pythainlp"
        args: check --verbose --line-length 79 --select C901

    # CINTENT >> INSERT_CINTENT
    - name: Upload CIntent Artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: ${{ env.CINTENT_ARTIFACT_NAME }}
        path: ${{ env.CINTENT_LOGS }}
